<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="AutoMapper" version="2.1.267" />
	<package id="EntityFramework" version="5.0.0-rc" />
	<package id="log4net" version="1.2.10" targetFramework="net45" />
	<package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
	<package id="RazorEngine" version="3.3.0" targetFramework="net45" />
	<package id="ServiceStack.Common" version="3.9.56" targetFramework="net45" />
	<package id="ServiceStack.Logging.Log4Net" version="1.0.10.0" targetFramework="net45" />
	<package id="ServiceStack.Text" version="3.9.56" targetFramework="net45" />
</packages>