<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FakeConfiguration" type="MvcHelpers.Tests.Fakes.FakeConfiguration, MvcHelpers.Tests"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="TestConnectionString" connectionString="This isn't a real connection string." />
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="SettingExists" value="true" />
  </appSettings>
  <FakeConfiguration>
    <FakeElementCollection>
      <FakeElement Foo="0" Bar="False" Baz="False" />
      <FakeElement Foo="1" Bar="True" Baz="True" />
    </FakeElementCollection>
  </FakeConfiguration>
</configuration>